---
import CardsLayout from "~/layouts/Cards.astro";
import Ayudantias from "./Ayudantias.svelte";
---

<CardsLayout class="flex-col flex" title="Ayudantías">
	<Fragment slot="header">
		<h2 class="font-title text-xl">Información sobre ayudantías</h2>
		<p>
			Recuerda que todas las postulaciones se realizan vía SIDING. <br class="hidden md:block" />
			Para más información sobre periodos, cursos y requisitos, únete a
			<!-- in another tab -->
			<a class="text-blue-600 hover:underline" target="_blank" rel="noopener noreferrer" href="https://t.me/joinchat/lNV5FuTvkddjMzU5"
				>DCCAcademic</a
			>!
		</p>
	</Fragment>
	<Ayudantias client:only />
</CardsLayout>
