---
import DocumentLayout from "~/layouts/Document.astro";
---

<DocumentLayout title="Información de Grupos">
	<h1>Información Importante y Reglas de Grupos</h1>
	<h2>Importante</h2>
	<p>
		En esta página se recopila grupos de Telegram de los
		<a href="/cursos">cursos</a>,
		<a href="/grupos">grupos temáticos</a> e <a href="/iniciativas">iniciativas relacionadas a la computación</a>. Te
		recomendamos que al menos te unas a DCChannel y DCCommunity.
	</p>
	<p>
		Los grupos se mantienen cada semestre. Si es necesario crear uno nuevo, tanto porque no existe o porque no hay
		administradores en el existente, se pueden crear avisándonos a nosotros.
	</p>
	<p>
		Cualquier problema o duda, o si quieres ayuda a difundir o realizar una actividad, podrás contactar a un
		representante. Los representantes actuales se encuentran en la página de <a href="/representantes">representantes</a
		>.
	</p>
	<h2>Reglas</h2>
	<ul>
		<li>
			<strong class="font-extrabold"><a href="/codigo-de-conducta">Respetar nuestro código de conducta</a></strong>,
			además de cumplir con el
			<a href="https://www.uc.cl/codigo-de-honor/">Código de Honor UC</a> y el <a
				>Reglamento de estudiantes de Pregrado (sección infracciones diciplinarias)</a
			>
		</li>
		<li>
			Usar los grupos para lo que corresponden, como se indica en la descripción del grupo. Solo se permiten ofertas de
			empleo en
			<a href="https://t.me/DCCEmpleo">DCCEmpleo</a> o contactándonos directamente.
		</li>
		<li>No se permite spam, publicidad, o difusión de marcas u oportunidades de ningún tipo de empresas privadas.</li>
	</ul>
</DocumentLayout>
