---
import BaseLayout from "~/layouts/Base.astro";
import Representantes from "./Representantes.svelte";
---

<BaseLayout>
	<div class="mx-auto w-full max-w-4xl px-4 py-8">
		<h2 class="font-title text-xl">Sobre el Capítulo</h2>
	</div>
	<div class="grid grid-cols-1 content-center bg-gray-100 shadow-inner">
		<div class="prose mx-auto max-w-2xl p-8 text-justify">
			<p>
				¡Hola!, somos el capítulo de ciencias de la computación y somos los representantes de los estudiantes del DCC.
			</p>
			<p>
				Nos interesa generar una <b>excelente</b> comunidad para un departamento que sigue recibiendo más estudiantes, haciendo
				de que tu paso por el DCC sea una experiencia inolvidable.
			</p>
			<p>
				¿Cómo lo lograremos? Generando eventos para potenciar redes y proyectos a lo largo de tus años como estudiante.
			</p>
			<p>
				Esto significa que <b>TU</b> eres la pieza principal de nuestro proyecto.
			</p>
			<p>Si quieres saber más o participar no dudes en contactarnos.</p>
			<p>Con cariño</p>
			<p>CCC</p>
		</div>
	</div>
	<div class="px-4 py-8">
		<h2 class="font-title text-xl">Representantes</h2>
	</div>
	<div class="bg-stone-200 shadow-inner">
		<Representantes client:idle />
	</div>
</BaseLayout>

<style lang="scss">
	.repr-grid {
		gap: 15px;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-auto-rows: 1fr;
	}
</style>
