---
import groupsRaw from "/data/groups.yml?raw";
import * as yaml from "js-yaml";
import BaseLayout from "~/layouts/Base.astro";
import ArrowLink from "~/components/ArrowLink.svelte";
import bannerImage from "$/og/specific/cursos.png";

type Group = {
	name: string;
	description: string;
	telegram: string;
};

const groups = yaml.load(groupsRaw) as Group[];
---

<BaseLayout {bannerImage}>
	<div class="px-4 py-8">
		<h2 class="font-title text-xl">Grupos</h2>
		Listado de grupos relevantes del DCC.
	</div>
	<div class="bg-stone-200 shadow-inner">
		<ul class="group-grid p-4 grid grip-tem max-w-4xl mx-auto">
			{
				groups.map(({ name, description, telegram }) => (
					<li class="flex flex-col justify-around rounded bg-white py-4 px-2">
						<div class="py-2">
							<span>
								<b>{name}</b>
							</span>
						</div>
						<div class="py-2">{description}</div>
						<ArrowLink action="Telegram" href={telegram} class="py-2 text-blue-500" />
					</li>
				))
			}
		</ul>
	</div>
</BaseLayout>

<style lang="scss">
	.group-grid {
		gap: 15px;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-auto-rows: 1fr;
	}
</style>
