---
import CardsLayout from "~/layouts/Cards.astro";
import Grupos from "./grupos.svelte";
---

<CardsLayout bannerImage="/og/specific/cursos.png">
	<Fragment slot="header">
		<h2 class="font-title text-xl">Grupos</h2>
		Listado de grupos relevantes del DCC.
	</Fragment>
	<Grupos client:idle />
</CardsLayout>
