---
import BaseLayout from "~/layouts/Base.astro";
import Grupos from "./Grupos.svelte";
---

<BaseLayout bannerImage="/og/specific/grupos.png">
	<div class="mx-auto w-full max-w-4xl px-4 py-6">
		<h2 class="font-title text-xl">Grupos relevantes del DCC</h2>
		<p>
			Grupos de telegram del DCC.
			<a href="/iniciativas" class="underline">Las iniciativas están en este link</a>.
		</p>
	</div>
	<div class="flex-grow bg-stone-200 shadow-inner">
		<Grupos client:idle />
	</div>
</BaseLayout>
