---
import ArrowLink from "~/components/ArrowLink.astro";
import { classNames, formatDateTime } from "~/lib/utils";

export interface Props {
    class?: string;
    title: string;
    date: Date,
    href: string;
}


const { title, href = "#", date, ...props } = Astro.props as Props;
---

<div class={classNames("card", props.class )}>
    <div class="mb-2">
        <div class="font-title text-xl leading-tight">
            {title}
        </div>
        { date ?
        <time datetime={date} class="text-gray-500 leading-tight">
            {formatDateTime(date)}
        </time>
        : ""}
    </div>
    <div class="text-ellipsis leading-tight line-clamp-3">
        <slot />
    </div>
    <ArrowLink {href} class="justify-end pt-4">
        ver evento completo
    </ArrowLink>
</div>

<style>
    .card {
        @apply text-black stroke-black border-black border-4 py-4 px-3 max-w-md rounded flex flex-col flex-1 justify-between shadow;
    }
</style>