---
import CCCLogo from "~/components/svgs/ccc.astro";
---

<footer class="bg-black flex flex-col md:flex-row justify-between items-center px-2 md:px-8 py-6 gap-4">
    <div class="text-center md:text-left text-stone-600">
        <div>
            Contacto:
            <a href="mailto:helloworld@ing.puc.cl">helloworld@ing.puc.cl</a>
        </div>
        <div>
            Código disponible en GitHub
        </div>
        <div>
            ©2022 Capítulo de Ciencias de la Computación UC
        </div>
    </div>
    <a href="#top">
        <CCCLogo class="fill-stone-600" />
    </a>
</footer>