---
import { classNames } from "~/lib/utils";
import { Image } from "astro:assets";

export interface Props {
	src: ImageMetadata;
	class?: string;
	href: string;
	name: string;
}

const { name, href = "#", class: className, src: rawSrc } = Astro.props as Props;
const isSVG = rawSrc.format === "svg";
const Img = isSVG ? "img" : Image;
const src = isSVG ? rawSrc.src : rawSrc;
---

<a class={classNames("card", className)} href={href}>
	<div>
		<Img
			class={classNames("h-24 w-24 rounded", isSVG ? "" : "object-cover")}
			alt=""
			src={src as any}
			aria-hidden="true"
			width="192"
			height="192"
		/>
	</div>
	<div class="flex w-fit flex-1 items-center justify-center text-center">
		{name}
	</div>
</a>

<style lang="scss">
	.card {
		@apply flex min-h-[210px] w-[150px] flex-col items-center rounded border-4 border-black bg-white px-2 py-4 font-bold transition-shadow hover:underline hover:shadow-xl;
	}
</style>
