---
import ArrowLink from "~/components/ArrowLink.astro";
import { classNames } from "~/lib/utils";

export interface Props {
    class?: string;
    img: string;
    href: string;
    name: string
}

const { name, img, href = "#", ...props } = Astro.props as Props;
---

<a class={classNames("card max-w-[180px] min-h-[210px] hover:shadow-xl hover:underline", props.class)} {href}>
    <div>
        <img class="h-24 w-24 object-cover rounded" src={img} alt={`Foto de ${name}`} width="100" height="100">
    </div>
    <div class="flex-1 flex justify-center items-center text-center w-min">
        {name}
    </div>
</a>

<style lang="scss">
    .card {
        @apply border-black border-4 p-4 flex flex-col rounded bg-white items-center font-bold transition-shadow
    }
</style>