---
import BaseLayout from "~/layouts/Base.astro";
import GrupoInvestigacion from "./GrupoInvestigacion.svelte";
---

<BaseLayout title="Grupos de investigación" description="Los diferentes grupos de investigación del DCC">
	<div class="mx-auto w-full max-w-4xl px-4 py-6">
		<h2 class="font-title text-xl">Grupos de investigación</h2>
	</div>
	<div class="flex-grow bg-stone-200 shadow-inner">
		<GrupoInvestigacion client:idle />
	</div>
</BaseLayout>