---
import Head, { Props as HeadProps } from "~/components/Head.astro";
import Navbar from "~/components/Navbar.svelte";
import Footer from "~/components/Footer.astro";
import { classNames } from "~/lib/utils";
import "~/styles/global.css";

export type Props = HeadProps & {
	lang?: string;
	class?: string;
};

const { lang, class: klass, ...headProps } = Astro.props as Props;
---

<html lang={lang || "es"}>
	<head>
		<Head {...headProps} />
	</head>

	<body class="flex h-fit min-h-[100vh] min-h-[100svh] flex-col">
		<div class="absolute z-50 min-h-fit w-screen bg-red-700 text-center font-bold text-white">
			En desarrollo! -
			<a href="https://capitulo-acm-puc.github.io/" class="py-1 underline"> Ir a la página antigua</a>
		</div>
		<Navbar client:load />
		<div class={classNames("flex-1 flex flex-col", klass)}>
			<slot />
		</div>
		<Footer />
	</body>
</html>
