---
import Head, { Props as HeadProps } from "~/components/Head.astro";
import Navbar from "~/components/Navbar.svelte";
import Footer from "~/components/Footer.astro";
import { classNames } from "~/lib/utils";
import "~/styles/global.css";

export type Props = HeadProps & {
	lang?: string;
	class?: string;
};

const { lang, class: klass, ...headProps } = Astro.props as Props;
---

<html lang={lang || "es"}>
	<head>
		<Head {...headProps} />
	</head>

	<body class="flex flex-col min-h-[100vh] min-h-[100svh] h-fit">
		<div class="absolute w-screen min-h-fit z-50 bg-red-700 text-white font-bold text-center">
			En desarrollo! -
			<a href="https://capitulo-acm-puc.github.io/" class="py-4 underline"> Ir a la página antigua</a>
		</div>
		<Navbar client:load />
		<div class={classNames("flex-1", klass)}>
			<slot />
		</div>
		<Footer />
	</body>
</html>
